.SettingsForm {
  text-align: center;
  max-width: 45rem;
  margin: 2rem auto;
  min-width: 20rem;
  width: 100%;

  border: 1px;
}

.label {
  text-align: left;
}

.Tokens {
  border: 1px solid rgba(0,0,0,.125);
  text-align: left;
}

.TokenLable {
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
}

.SelectButton,
.DeleteButton {
  float: right;
  margin: 2px;
  padding: 0.2rem 0.6rem;
}

.LogsButton {
  position: relative;
  text-align: center;
  margin: 30px auto;
  width: 100%;
}

.LogsButton button:first-child {
  margin-right: 40px;
}

.AccountsButton {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
  width: 100%;
}


.Badge {
  margin-right: .5rem;
  max-width: 100%;
  overflow: initial;
  pointer-events: none;
}

@media screen and (max-width: 480px) { 
  .AccountsButton {
    grid-template-columns: repeat(3, auto);
  }
}