.TerminalColChart {
    min-width: 350px;
}

.TerminalColOrderBook {
    max-width: 750px;
}

.OrderBook {
    min-width: 310px;
    max-width: 1040px;
    height: 400px;
    margin: auto;
}

.OrderBook_hidden {
    display: none;
}

.OrderBookHide {
    margin-bottom: 20px;
}

@media (min-width: 750px) {
    .OrderBookHide {
        display: none;
    }
}